<link rel="stylesheet" type="text/css" href="/team/division.css">

<div ng-show="!isLoading" class="container">
	<div ng-repeat="division in divisions" class="teams">
		
		<div class="titleContainer">
			<div class="titleLine"></div>
			<div class="titleText">
				<div>{{division.name}}</div>
			</div>
		</div>
		
		<div class="teamsContainer">
			<div ng-repeat="team in division.teams" ng-click="selectTeam(team)" class="team">
				<div><img ng-src="{{team.img}}"></div>
				<div>{{team.name}}</div>
				<div class="teamSeason">{{team.teamDivision.season}} - {{team.teamDivision.year}}</div>
			</div>
		</div>
		
	</div>
</div>

<div ng-show="isLoading" class="loadingContainer">
	<div class="loadingContent">
		<div>Loading</div>
	</div>
</div>
