<md-dialog aria-label="Player" flex-xs="75" flex="40" flex-gt-md="20">
	<md-dialog-content>
		
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<h2 flex="grow">{{player.firstName + " " + player.lastName}}</h2>
				
				<md-button class="md-icon-button" aria-label="Save" ng-click="close()" ng-disabled="isLoading">
					<md-icon>
						<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
						</svg>
					</md-icon>
				</md-button>
				
			</div>
		</md-toolbar>
		
		<div class="panelError" ng-show="errorMessage && errorMessage.length > 0">
			{{errorMessage}}
		</div>
		
		<md-content class="md-padding">
			<div layout="row" layout-align="space-between">
				<div><span class="draftPageLabel">Name:</span> {{ player.firstName + " " + player.lastName }}</div>
				<div><span class="draftPageLabel">Age:</span> {{ age }}</div>
			</div>
			
			<div>
				<span class="draftPageLabel">Height:</span> {{ player.height }}
			</div>
			
			<div>
				<span class="draftPageLabel">Protected:</span> {{ player.coachProtect }}
			</div>
			
			<div>
				<span class="draftPageLabel">Requested:</span> {{ player.coachRequest }}
			</div>
			
			<div>
				{{ player.requests }}
			</div>
			
			<table class="draftPageTable viewPlayerTable">
			<tr>
				<th>&nbsp;</th>
				<th ng-repeat="season in seasons">{{ season.year }}<br>{{ season.season.charAt(0).toUpperCase() + season.season.slice(1); }}</th>
			</tr>
			<tr>
				<td>Rank</td>
				<td ng-repeat="season in seasons">{{ season.rank }}</td>
			</tr>
			<tr>
				<td>Round</td>
				<td ng-repeat="season in seasons">{{ season.round }}</td>
			</tr>
			<tr>
				<td>Catch</td>
				<td ng-repeat="season in seasons">{{ season.catching }}</td>
			</tr>
			<tr>
				<td>Run</td>
				<td ng-repeat="season in seasons">{{ season.running }}</td>
			</tr>
			<tr>
				<td>Time</td>
				<td ng-repeat="season in seasons">{{ season.runTime }}</td>
			</tr>
			<tr>
				<td>Throw</td>
				<td ng-repeat="season in seasons">{{ season.throwing }}</td>
			</tr>
			</table>
			
			<div ng-repeat="season in seasons | filter: { year: 2018 }">
				<span class="draftPageLabel">{{ season.year }} {{ season.season.charAt(0).toUpperCase() + season.season.slice(1); }}:</span> {{ season.team }}
			</div>
		</md-content>
		
	</md-dialog-content>
</md-dialog>