<link rel="stylesheet" type="text/css" href="/team/draft.css">

<div ng-show="isLoading" flex="90" layout="row" layout-align="center center">
	<div layout="column" layout="center center">
		<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
		<div class="md-margin">Loading</div>
	</div>
</div>

<div ng-show="!isLoading" class="draftPage" layout="column">
	<md-tabs md-center-tabs class="md-primary" md-dynamic-height>
		<md-tab label="Draft">
			<md-content>
			
				<table class="draftPageTable draftPageDraftTable">
				<tr>
					<th>Rd</th>
					<th>Pk</th>
					<th>Coach</th>
					<th>#</th>
					<th>Player</th>
				</tr>
				<tr ng-repeat="pick in draft" ng-class="{ 'draftAlternate': pick.round % 2 == 0 }">
					<td>{{ pick.round }}</td>
					<td>{{ pick.teamPick + " / " + pick.pick }}</td>
					<td>{{ pick.team ? pick.team.coach : "-" }}</td>
					<td>
						<a href ng-click="selectPick(pick)">{{ pick.player ? pick.player.draftNumber : "pick" }}</span>
					</td>
					<td>{{ pick.player ? pick.player.firstName + " " + pick.player.lastName : "-" }}</td>
				</tr>
				</table>
			
			</md-content>
		</md-tab>
		
		<md-tab label="Teams">
			<md-content>
				
				<table class="draftPageTable">
				<tr>
					<th>Rd</th>
					<th>Coach</th>
					<th>Team</th>
					<th>Week</th>
					<th>Weekend</th>
					<th></th>
				</tr>
				<tr ng-repeat="team in teams | orderBy: 'draftRound'">
					<td>{{ team.draftRound }}</td>
					<td>{{ team.coach }}</td>
					<td>{{ team.name }}</td>
					<td>{{ team.practiceDay + ' ' + team.practiceTime }}</td>
					<td>{{ team.practiceWeekend }}</td>
					<td><a href ng-click="manageTeam(team)">edit</a></td>
				</tr>
				</table>
				
				<div class="draftPageAdd">
					<md-button class="md-fab md-mini md-primary" aria-label="Add Team" ng-click="manageTeam()">
						<md-icon>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
								<path d="M0 0h24v24H0z" fill="none"/>
							</svg>
						</md-icon>
					</md-button>
				</div>
				
			</md-content>
		</md-tab>
		
		<md-tab label="Players">
			<md-content>
				
				<table class="draftPageTable draftPagePlayerTable">
				<tr>
					<th ng-class="{ 'draftSorted': playerSort == 'draftRank' }" ng-click="sortPlayers('draftRank')">DRk</th>
					<th ng-class="{ 'draftSorted': playerSort == 'brettRank' }" ng-click="sortPlayers('brettRank')">BRk</th>
					<th>RnD</th>
					<th ng-class="{ 'draftSorted': playerSort == 'draftNumber' }" ng-click="sortPlayers('draftNumber')">#</th>
					<th>Player</th>
					<th>Comments</th>
				</tr>
				<tr ng-repeat="player in players | orderBy: playerSort">
					<td>{{ player.draftRank }}</td>
					<td>{{ player.brettRank }}</td>
					<td>{{ player.draftRound }}</td>
					<td><a href ng-click="viewPlayer(player)">{{ player.draftNumber }}</a></td>
					<td ng-class="{ 'draftProtected': player.coachProtect.length > 0, 'draftPicked': player.draftPick, 'draftAvailable': !player.draftPick && player.coachProtect.length == 0 }">{{ player.firstName + " " + player.lastName }}</td>
					<td>
						{{ player.requests }}
						<div ng-show="player.coachRequest.length > 0">
							Request: {{ player.coachRequest }}
						</div>
					</td>
				</tr>
				</table>
				
			</md-content>
		</md-tab>
	</md-tabs>
</div>
