<md-dialog aria-label="Edit Game">
	<md-dialog-content class="md-padding">
		
		<div ng-show="isLoading" flex="grow" layout="row" layout-align="center center">
			<div layout="column" layout-align="center center">
				<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
				<div class="md-margin">Loading</div>
			</div>
		</div>
		
		<div class="panelError" ng-show="errorMessage && errorMessage.length > 0">
			{{errorMessage}}
		</div>
		
		<md-list ng-show="!isLoading">
			
			<md-list-item layout="row" layout-align="start center">
				<span flex>Winner</span>
				
				<md-input-container flex="40">
					<label>Winner</label>
					
					<md-select ng-model="winningTeamId">
						<md-option ng-value="game.awayTeam.id">{{game.awayTeam.name}}</md-option>
						<md-option ng-value="game.homeTeam.id">{{game.homeTeam.name}}</md-option>
					</md-select>
				</md-input-container>
			</md-list-item>
			
			<md-list-item layout="row" layout-align="start center">
				<span flex>{{game.awayTeam.name}} Score</span>
				
				<md-input-container flex="30">
					<label>Score</label>
					<input ng-model="game.awayTeam.score" ng-change="scoreChange()" type="number" />
				</md-input-container>
			</md-list-item>
			
			<md-list-item layout="row" layout-align="start center">
				<span flex>{{game.homeTeam.name}} Score</span>
				
				<md-input-container flex="30">
					<label>Score</label>
					<input ng-model="game.homeTeam.score" ng-change="scoreChange()" type="number" />
				</md-input-container>
			</md-list-item>
			
		</md-list>
	</md-dialog-content>
	
	<md-dialog-actions>
		
		<md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
		<md-button ng-click="save()" class="md-primary" ng-disabled="isLoading">Save</md-button>
		
	</md-dialog-actions>
</md-dialog>
