
<div ng-show="isLoading" flex="90" layout="row" layout-align="center center">
	<div layout="column" layout="center center">
		<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
		<div class="md-margin">Loading</div>
	</div>
</div>

<div ng-show="!isLoading" class="gamePage" layout="column">
	<div class="gamePageSchedule" layout="row" layout-align="center center">
		<div class="header" layout="column" flex flex-gt-xs="80">
			<div layout="row" layout-align="start center">
				<div flex>{{selectedGame.field}} Field &bull; {{selectedGame.dateTime | date: "EEE, M/d, h:mm a"}}</div>
				<div class="gameEditButton">
					<md-button aria-label="Edit Game" ng-click="editGame()">
						<md-icon>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
						</md-icon>
					</md-button>
				</div>
			</div>
			
			<div layout="row" layout-align="center center" class="gamePageTeamContainer">
				<div layout="column" class="gamePageTeam" flex="20" layout-align="center center">
					<div><img ng-src="{{selectedGame.awayTeam.team.img}}" class="teamImage" /></div>
					<div class="teamName">{{selectedGame.awayTeam.name}}</div>
					<div class="teamRecord">({{selectedGame.awayTeam.team.wins}} - {{selectedGame.awayTeam.team.losses}})</div>
				</div>
				
				<div class="teamScore" flex="20">{{selectedGame.awayTeam.score}}</div>
				
				<div class="teamSeparator">{{ (selectedGame.awayTeam.score) ? "&mdash;" : "At" }}</div>
				
				<div class="teamScore" flex="20">{{selectedGame.homeTeam.score}}</div>
				
				<div layout="column" class="gamePageTeam" flex="20" layout-align="center center">
					<div><img ng-src="{{selectedGame.homeTeam.team.img}}" class="teamImage" /></div>
					<div class="teamName">{{selectedGame.homeTeam.name}}</div>
					<div class="teamRecord">({{selectedGame.homeTeam.team.wins}} - {{selectedGame.homeTeam.team.losses}})</div>
				</div>
			</div>
		</div>
	</div>
	
	<div layout="column" layout-gt-xs="row">
		<div class="gamePageStatsContainer" layout="column" flex-gt-xs="50" layout-align="start center">
			<div class="gamePageStatsTeam">{{selectedGame.awayTeam.name}}</div>
			
			<table class="gamePageTeamStats">
			<tr>
				<th>Rk</th>
				<th>Player</th>
				<th>Th</th>
				<th>C</th>
				<th>Run</th>
				<th>Age</th>
			</tr>
			<tr ng-repeat="player in selectedGame.awayTeam.players">
				<td>{{ player.draftRank ? player.draftRank : "-"}}</td>
				<td>{{ player.firstName + " " + player.lastName}}</td>
				<td>{{ player.throwing ? player.throwing : "-"}}</td>
				<td>{{ player.catching ? player.catching : "-"}}</td>
				<td>{{ player.runTime ? player.runTime : "-"}}</td>
				<td>{{ player.age ? player.age : "-"}}</td>
			</tr>
			</table>
		</div>
		
		<div class="gamePageStatsContainer" layout="column" flex-gt-xs="50" layout-align="start center">
			<div class="gamePageStatsTeam">{{selectedGame.homeTeam.name}}</div>
			
			<table class="gamePageTeamStats">
			<tr>
				<th>Rk</th>
				<th>Player</th>
				<th>Th</th>
				<th>C</th>
				<th>Run</th>
				<th>Age</th>
			</tr>
			<tr ng-repeat="player in selectedGame.homeTeam.players">
				<td>{{ player.draftRank ? player.draftRank : "-"}}</td>
				<td>{{ player.firstName + " " + player.lastName}}</td>
				<td>{{ player.throwing ? player.throwing : "-"}}</td>
				<td>{{ player.catching ? player.catching : "-"}}</td>
				<td>{{ player.runTime ? player.runTime : "-"}}</td>
				<td>{{ player.age ? player.age : "-"}}</td>
			</tr>
			</table>
		</div>
	</div>
	
</div>