<html ng-app="teamApp" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/team/team.css">
	<base href="/">
</head>
<title>Game Time</title>
<body ng-controller="teamController" ng-cloak layout="column">

<div layout="column" class="pageContainer" flex="100">
	<md-toolbar class="toolbar md-menu-toolbar" layout="row" layout-align="start center">
		<md-button class="md-icon-button" aria-label="Back" ng-click="back()" >
			<md-icon>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" fill="black"/>
				</svg>
			</md-icon>
		</md-button>
		
		<h2 flex>Game Time</h2>
		
		<md-menu ng-show="managedTeam">
			<md-button class="md-icon-button" aria-label="Menu" ng-click="openMenu($mdMenu, $event)">
				<md-icon md-menu-origin>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
					</svg>
				</md-icon>
			</md-button>
			
			<md-menu-content width="4">
				<md-menu-item>
					<md-button md-menu-align-target ng-click="openPlaybook()">Play Book</md-button>
				</md-menu-item>
				
				<md-menu-item>
					<md-button md-menu-align-target ng-click="openDraft()">Draft</md-button>
				</md-menu-item>
				
				<md-menu-item>
					<md-button md-menu-align-target ng-click="openEmail()">Email</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-toolbar>
	
	<div ng-view layout="column" flex="grow"></div>
	
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="/team/team.js"></script>
<script src="/team/directives.js"></script>
<script src="/team/dialog.js"></script>

</body>
</html>