<link rel="stylesheet" type="text/css" href="/team/playmaker.css">

<div ng-show="isLoading" flex="90" layout="row" layout-align="center center">
	<div layout="column" layout="center center">
		<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
		<div class="md-margin">Loading</div>
	</div>
</div>


<form name="playForm">
<div ng-show="!isLoading" class="playPage" layout="column" layout-align="center">
	
	<div class="playContainer" layout="column">
		<div class="controls" layout="column">
			<md-input-container>
				<label>Play Name</label>
				<input required type="text" ng-model="playData.name" />
				<div ng-messages="playData.name.$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
		</div>
		
		<playmaker controller="controller" playdata="playData" layout="row" layout-align="center"></playmaker>
		
		<div class="editorMenu">
			<md-menu>
				<md-button class="md-icon-button" aria-label="Add" ng-click="addMenu($mdMenu, $event)">
					<md-icon md-menu-origin>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
						</svg>
					</md-icon>
				</md-button>
				
				<md-menu-content width="4">
					<md-menu-item>
						<md-button md-menu-align-target ng-click="addPlayer('offense')">Add Offense</md-button>
					</md-menu-item>
					
					<md-menu-item>
						<md-button ng-click="addPlayer('defense')">Add Defense</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			
			<md-menu>
				<md-button aria-label="Mode" ng-click="modeMenu($mdMenu, $event)">
					<md-icon ng-show="controller.lineMode == 'move'">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
							<defs>
								<path id="a" d="M0 0h24v24H0z"/>
							</defs>
							<clipPath id="b">
								<use xlink:href="#a" overflow="visible"/>
							</clipPath>
							<path clip-path="url(#b)" d="M23 5.5V20c0 2.2-1.8 4-4 4h-7.3c-1.08 0-2.1-.43-2.85-1.19L1 14.83s1.26-1.23 1.3-1.25c.22-.19.49-.29.79-.29.22 0 .42.06.6.16.04.01 4.31 2.46 4.31 2.46V4c0-.83.67-1.5 1.5-1.5S11 3.17 11 4v7h1V1.5c0-.83.67-1.5 1.5-1.5S15 .67 15 1.5V11h1V2.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5V11h1V5.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5z"/>
						</svg>
					</md-icon>
					
					<md-icon ng-show="controller.lineMode == 'straight'">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
							<path d="M0 0h24v24H0z" fill="none"/>
						</svg>
					</md-icon>
					
					<md-icon ng-show="controller.lineMode == 'curved'">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M4.59 6.89c.7-.71 1.4-1.35 1.71-1.22.5.2 0 1.03-.3 1.52-.25.42-2.86 3.89-2.86 6.31 0 1.28.48 2.34 1.34 2.98.75.56 1.74.73 2.64.46 1.07-.31 1.95-1.4 3.06-2.77 1.21-1.49 2.83-3.44 4.08-3.44 1.63 0 1.65 1.01 1.76 1.79-3.78.64-5.38 3.67-5.38 5.37 0 1.7 1.44 3.09 3.21 3.09 1.63 0 4.29-1.33 4.69-6.1H21v-2.5h-2.47c-.15-1.65-1.09-4.2-4.03-4.2-2.25 0-4.18 1.91-4.94 2.84-.58.73-2.06 2.48-2.29 2.72-.25.3-.68.84-1.11.84-.45 0-.72-.83-.36-1.92.35-1.09 1.4-2.86 1.85-3.52.78-1.14 1.3-1.92 1.3-3.28C8.95 3.69 7.31 3 6.44 3 5.12 3 3.97 4 3.72 4.25c-.36.36-.66.66-.88.93l1.75 1.71zm9.29 11.66c-.31 0-.74-.26-.74-.72 0-.6.73-2.2 2.87-2.76-.3 2.69-1.43 3.48-2.13 3.48z"/>
							<path d="M0 0h24v24H0z" fill="none"/>
						</svg>
					</md-icon>
				</md-button>
				
				<md-menu-content width="4">
					
					<md-menu-item>
						<md-button aria-label="Move" ng-click="changeMode('move')">
							<md-icon>
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
									<defs>
										<path id="a" d="M0 0h24v24H0z"/>
									</defs>
									<clipPath id="b">
										<use xlink:href="#a" overflow="visible"/>
									</clipPath>
									<path clip-path="url(#b)" d="M23 5.5V20c0 2.2-1.8 4-4 4h-7.3c-1.08 0-2.1-.43-2.85-1.19L1 14.83s1.26-1.23 1.3-1.25c.22-.19.49-.29.79-.29.22 0 .42.06.6.16.04.01 4.31 2.46 4.31 2.46V4c0-.83.67-1.5 1.5-1.5S11 3.17 11 4v7h1V1.5c0-.83.67-1.5 1.5-1.5S15 .67 15 1.5V11h1V2.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5V11h1V5.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5z"/>
								</svg>
							</md-icon>
							Move
						</md-button>
					</md-menu-item>
					
					<md-menu-item>
						<md-button aria-label="Move" ng-click="changeMode('straight')">
							<md-icon>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
									<path d="M0 0h24v24H0z" fill="none"/>
								</svg>
							</md-icon>
							Straight
						</md-button>
					</md-menu-item>
					
					<md-menu-item>
						<md-button aria-label="Move" ng-click="changeMode('curved')">
							<md-icon>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M4.59 6.89c.7-.71 1.4-1.35 1.71-1.22.5.2 0 1.03-.3 1.52-.25.42-2.86 3.89-2.86 6.31 0 1.28.48 2.34 1.34 2.98.75.56 1.74.73 2.64.46 1.07-.31 1.95-1.4 3.06-2.77 1.21-1.49 2.83-3.44 4.08-3.44 1.63 0 1.65 1.01 1.76 1.79-3.78.64-5.38 3.67-5.38 5.37 0 1.7 1.44 3.09 3.21 3.09 1.63 0 4.29-1.33 4.69-6.1H21v-2.5h-2.47c-.15-1.65-1.09-4.2-4.03-4.2-2.25 0-4.18 1.91-4.94 2.84-.58.73-2.06 2.48-2.29 2.72-.25.3-.68.84-1.11.84-.45 0-.72-.83-.36-1.92.35-1.09 1.4-2.86 1.85-3.52.78-1.14 1.3-1.92 1.3-3.28C8.95 3.69 7.31 3 6.44 3 5.12 3 3.97 4 3.72 4.25c-.36.36-.66.66-.88.93l1.75 1.71zm9.29 11.66c-.31 0-.74-.26-.74-.72 0-.6.73-2.2 2.87-2.76-.3 2.69-1.43 3.48-2.13 3.48z"/>
									<path d="M0 0h24v24H0z" fill="none"/>
								</svg>
							</md-icon>
							Curved
						</md-button>
					</md-menu-item>
					
				</md-menu-content>
			</md-menu>
			
		</div>
		
		
		<div layout="row" layout-align="space-between" layout-align-gt-xs="start" class="actions">
			<md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
			<md-button class="md-primary md-raised" ng-click="cancel()">Cancel</md-button>
			<md-button class="md-primary md-raised" ng-show="playData.id && playData.id.length > 0" ng-click="delete()">Delete</md-button>
		</div>
	</div>
	
</div>
</form>