.playbookPage {
	padding: 45px;
}

.playbookPage .playTile {
	text-align: center;
	width: 110px;
	padding: 50px 10px;
	cursor: pointer;
	margin: 15px 0px;
}

.playbookPage .playTile:hover {
	background-color: rgb(213, 233, 231);
}