<link rel="stylesheet" type="text/css" href="/team/playbook.css">

<div ng-show="isLoading" flex="90" layout="row" layout-align="center center">
	<div layout="column" layout="center center">
		<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
		<div class="md-margin">Loading</div>
	</div>
</div>

<div ng-show="!isLoading" class="playbookPage" layout="column" layout-align="center">
	<div layout="row" layout-wrap="true" layout-align="space-around" layout-align-gt-xs="start">
		<div class="playTile" ng-click="openPlay()" md-whiteframe="1">New Play</div>
		
		<div class="playTile" ng-repeat="play in plays | orderBy: 'name'" ng-click="openPlay(play)" md-whiteframe="1">{{play.name}}</div>
	</div>
</div>