<link rel="stylesheet" type="text/css" href="/team/schedule.css">

<div ng-show="!isLoading" class="scheduleContainer">
	<div class="teamHeader">
		<img ng-src="{{'/team/media/' + team.name.toLowerCase() + '.png'}}" />
		<h2 class="header">{{team.name}} - {{ team.coach }}</h2>
	</div>
	
	<div class="scheduleSection">
		<div class="gameContainer" ng-repeat="game in teamSchedule" ng-click="selectGame(game)">
			<div class="scheduleTeams">
				<div class="scheduleTeam">
					<img ng-src="{{game.awayTeam.team.img}}" />
					<div class="scheduleTeamName">{{game.awayTeam.name}}</div>
					<div class="scheduleTeamName">{{game.awayTeam.score}}</div>
					<div class="scheduleWinner"><span ng-show="game.awayTeam.isWinner">&#9668;</span></div>
				</div>
				
				<div class="scheduleTeam">
					<img ng-src="{{game.homeTeam.team.img}}" />
					<div class="scheduleTeamName">{{game.homeTeam.name}}</div>
					<div class="scheduleTeamName">{{game.homeTeam.score}}</div>
					<div class="scheduleWinner"><span ng-show="game.homeTeam.isWinner">&#9668;</span></div>
				</div>
			</div>
			
			<div class="scheduleDateContainer">
				<div class="scheduleDate">{{game.dateTime | date: "EEE, M/d"}}</div>
				<div class="scheduleTime">{{game.dateTime | date: "h:mm a"}}</div>
			</div>
		</div>
	</div>
	
	<div class="statsContainer">
		<table class="teamStats">
		<tr>
			<th>Rk</th>
			<th>Player</th>
			<th>Th</th>
			<th>C</th>
			<th>Run</th>
			<th>Age</th>
		</tr>
		<tr ng-repeat="player in players | orderBy: 'draftPick'" ng-click="viewPlayer(player)">
			<td>{{ player.draftPick ? player.draftPick : "-"}} / {{ player.draftRank ? player.draftRank : "-"}}</td>
			<td>{{ player.firstName + " " + player.lastName}}</td>
			<td>{{ player.throwing ? player.throwing : "-"}}</td>
			<td>{{ player.catching ? player.catching : "-"}}</td>
			<td>{{ player.runTime ? player.runTime : "-"}}</td>
			<td>{{ player.age ? player.age : "-"}}</td>
		</tr>
		</table>
	</div>

</div>

<div ng-show="isLoading" class="loadingContainer">
	<div class="loadingContent">
		<div>Loading</div>
	</div>
</div>

<div class="popup" ng-class="{ 'active': popupPlayer.active }">
	<div class="popupHeader">

		<h2 class="label">{{ popupPlayer.player.firstName + " " + popupPlayer.player.lastName }}</h2>
		
		<div ng-click="closePlayer()" class="button">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
				<path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			</svg>
		</div>

	</div>
	
	<div class="popupContainer">
		<div><span class="label">Name:</span> {{ popupPlayer.player.firstName + " " + popupPlayer.player.lastName }}</div>
		<div><span class="label">Age:</span> {{ popupPlayer.player.age }}</div>

		<div class="spacer"></div>
		
		<div><span class="label">Rank:</span> {{ popupPlayer.player.draftRank }}</div>
		<div><span class="label">Brett:</span> {{ popupPlayer.player.brettRank }}</div>
		
		<div class="spacer"></div>
		
		<div><span class="label">Protected:</span> {{ popupPlayer.player.coachProtect }}</div>
		<div><span class="label">Requested:</span> {{ popupPlayer.player.coachRequest }}</div>
		<div><span class="label">Requests:</span> {{ popupPlayer.player.requests }}</div>
		<div><span class="label">Notes:</span> {{ popupPlayer.player.comments }}</div>
		
		<div class="spacer"></div>
		
		<table class="viewPlayerTable">
		<tr>
			<th>&nbsp;</th>
			<th ng-repeat="season in popupPlayer.seasons">{{ season.playerDivision.year }}<br>{{ season.playerDivision.season.charAt(0).toUpperCase() + season.playerDivision.season.slice(1); }}</th>
		</tr>
		<tr>
			<td>Rank</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.draftRank }}</td>
		</tr>
		<tr>
			<td>Round</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.draftRound }}</td>
		</tr>
		<tr>
			<td>Catch</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.catching }}</td>
		</tr>
		<tr>
			<td>Run</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.running }}</td>
		</tr>
		<tr>
			<td>Time</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.runTime }}</td>
		</tr>
		<tr>
			<td>Throw</td>
			<td ng-repeat="season in popupPlayer.seasons">{{ season.throwing }}</td>
		</tr>
		</table>
		
		<div class="draftSpacer"></div>
		
		<div ng-repeat="season in popupPlayer.seasons">
			<span class="label">{{ season.playerDivision.year }} {{ season.playerDivision.season.charAt(0).toUpperCase() + season.playerDivision.season.slice(1); }}:</span> {{ season.team.name }}
		</div>
	</div>

</div>
