<link rel="stylesheet" type="text/css" href="/team/standings.css">

<div ng-show="!isLoading">
	<h2 class="header">Standings</h2>
	
	<div class="confrenceContainer">
		<div class="section confrence" ng-repeat="confrence in confrences | orderBy: 'name'">
			<table>
			<tr>
				<th colspan="2">{{confrence.name}}</th>
				<th>W</th>
				<th>L</th>
				<th>Pct</th>
			</tr>
			<tr ng-repeat="team in confrence.teams | orderBy: '-ratio'" ng-click="selectTeam(team)">
				<td><img ng-src="{{team.img}}" /></td>
				<td>{{team.name}}</td>
				<td>{{team.wins}}</td>
				<td>{{team.losses}}</td>
				<td>{{team.ratio | number: 3}}</td>
			</tr>
			</table>
		</div>
	</div>
	
	<h2 class="header">Schedule</h2>
	
	<div>
		<div class="section" ng-repeat="gameDay in scheduleDates">
			<div class="standingDate" ng-class="{gameHighlight: gameDay.isNext}">Week {{($index + 1)}} - {{gameDay.day | date: "M/d/yyyy" }}</div>
			
			<div class="scheduleSection">
				
				<div class="gameContainer" ng-click="selectGame(game)" ng-repeat="game in gameDay.games">
					
					<div class="scheduleTeams"> 
						<div class="scheduleTeam">
							<img ng-src="{{game.awayTeam.team.img}}" />
							<div class="scheduleTeamName">{{game.awayTeam.team.name}}</div>
							<div class="scheduleTeamName">{{game.awayTeam.team.score}}</div>
							<div class="scheduleWinner"><span ng-show="game.awayTeam.isWinner">&#9668;</span></div>
						</div>
						
						<div class="scheduleTeam">
							<img ng-src="{{game.homeTeam.team.img}}" />
							<div class="scheduleTeamName">{{game.homeTeam.team.name}}</div>
							<div class="scheduleTeamName">{{game.homeTeam.team.score}}</div>
							<div class="scheduleWinner"><span ng-show="game.homeTeam.isWinner">&#9668;</span></div>
						</div>
					</div>
					
					<div class="scheduleDateContainer">
						<div class="scheduleDate">{{game.dateTime | date: "EEE, M/d"}}</div>
						<div class="scheduleTime">{{game.dateTime | date: "h:mm a"}}</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div ng-show="isLoading" class="loadingContainer">
	<div class="loadingContent">
		<div>Loading</div>
	</div>
</div>
