@media print {
	@page {
		size: letter portrait;
	}
	md-toolbar.toolbar {
		display: none;
	}
}

html, body {
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: rgb(32, 32, 32);
}

h2 {
	font-size: 24px;
	margin: 1rem 0px;
}

md-toolbar.toolbar {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
	background: rgb(246, 246, 246);
	color: rgb(32, 32, 32);
}

table {
	font-size: 12px;
}

.confrence {
	margin: 30px 20px;
}

.confrence img {
	width: 24px;
}

.confrence table {
	border-collapse: collapse;
	width: 100%;
}

.confrence th, .confrence td {
	padding: 8px 5px;
	border-bottom: 1px solid rgb(223, 225, 229);
}

.confrence th {
	font-weight: normal;
	text-align: left;
}

.confrence td:nth-child(2) {
	width: 70%;
}

.confrence tr:nth-child(n+2):hover {
	background-color: rgb(245, 245, 245);
}

.confrence tr:nth-child(n+2) {
	cursor: pointer;
}

.confrence th:nth-child(n+2), .confrence td:nth-child(n+3) {
	text-align: center;
}


.scheduleContainer {
	padding: 30px 10px;
}

.scheduleTeam img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.gameContainer {
	padding: 10px;
	padding: 10px 20px;
	border: solid 1px rgb(224, 224, 224);
	cursor: pointer;
}

.scheduleTeams {
	border-right: solid 1px rgb(224, 224, 224);
	margin-right: 10px;
}

.gamePageSchedule {
	border-bottom: solid 1px rgb(224, 224, 224);
	padding: 20px 10px;
}

.teamScore {
	text-align: center;
	font-size: 2.5em;
	margin: 0px 15px;
}

.teamRecord {
	color: rgb(150,150,150);
	font-size: 0.8em;
}

.gamePageTeamContainer {
	margin: 20px 0px 10px 0px;
}

.gamePageStatsTeam {
	font-weight: bold;
}

.gamePageTeamStats {
	width: 95%;
	border-collapse: collapse;
}

.gamePageTeamStats th {
	border-bottom: solid 1px rgb(224, 224, 224);
	font-weight: normal;
}

.gamePageTeamStats th, .gamePageTeamStats td {
	padding: 8px 5px;
}

.gamePageTeamStats th:nth-child(2) {
	text-align: left;
}

.gamePageTeamStats td:nth-child(1), .gamePageTeamStats td:nth-child(n+3) {
	text-align: center;
}

.gamePageTeamStats td {
	font-size: 0.85em;
}

.gamePageStatsContainer {
	margin: 20px 0px;
}