<html ng-app="teamApp" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/team/team.css">
</head>
<title>Game Time</title>
<body ng-controller="teamController" ng-cloak>

<div layout="column" class="pageContainer">
	<md-toolbar class="toolbar" layout="row" layout-align="start center">
		<md-button class="md-icon-button" aria-label="Close" ng-click="back()" >
			<md-icon ng-show="state != 'confrence'">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" fill="black"/>
				</svg>
			</md-icon>
		</md-button>
		
		<h2 flex>Game Time</h2>
	</md-toolbar>
	
	<div ng-show="state == 'loading'" flex="90" layout="row" layout-align="center center">
		<div layout="column" layout="center center">
			<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
			<div class="md-margin">Loading</div>
		</div>
	</div>
	
	<div class="confrenceContainer" layout="row" layout-align="center" layout-wrap ng-show="state == 'confrence'">
		<div class="confrence" ng-repeat="confrence in confrences" flex>
			<table>
			<tr>
				<th colspan="2">{{confrence.name}}</th>
				<th>W</th>
				<th>L</th>
				<th>Pct</th>
			</tr>
			<tr ng-repeat="team in confrence.teams" ng-click="selectTeam(team)">
				<td><img ng-src="{{team.img}}" /></td>
				<td>{{team.name}}</td>
				<td>{{team.wins}}</td>
				<td>{{team.losses}}</td>
				<td>{{team.ratio | number: 3}}</td>
			</tr>
			</table>
		</div>
	</div>
	
	<div ng-show="state == 'schedule'" class="scheduleContainer" layout="column" layout-gt-xs="row" layout-wrap>
		<div class="gameContainer" ng-repeat="game in schedule" ng-click="selectGame(game)" layout="row" flex-gt-xs="50">
			<div class="scheduleTeams" layout="column" flex="80" layout-align="space-around">
				<div class="scheduleTeam" layout="row" layout-align="start center">
					<img ng-src="{{game.awayTeam.team.img}}" />
					<div class="scheduleTeamName" flex>{{game.awayTeam.name}}</div>
					<div class="scheduleTeamName" flex="10">{{game.awayTeam.score}}</div>
					<div class="scheduleWinner" flex="5"><span ng-show="game.awayTeam.isWinner">&#9668;</span></div>
				</div>
				
				<div class="scheduleTeam" layout="row" layout-align="start center">
					<img ng-src="{{game.homeTeam.team.img}}" />
					<div class="scheduleTeamName" flex>{{game.homeTeam.name}}</div>
					<div class="scheduleTeamName" flex="10">{{game.homeTeam.score}}</div>
					<div class="scheduleWinner" flex="5"><span ng-show="game.homeTeam.isWinner">&#9668;</span></div>
				</div>
			</div>
			
			<div class="scheduleDateContainer" layout="column" flex="20" layout-align="center center">
				<div class="scheduleDate">{{game.dateTime | date: "EEE, M/d"}}</div>
				<div class="scheduleTime">{{game.dateTime | date: "h:mm a"}}</div>
			</div>
		</div>
	</div>
	
	<div ng-show="state == 'game'" class="gamePage" layout="column">
		<div class="gamePageSchedule" layout="row" layout-align="center center">
			<div class="header" layout="column" flex flex-gt-xs="80">
				<div layout="row">{{selectedGame.field}} Field &bull; {{selectedGame.dateTime | date: "EEE, M/d, h:mm a"}}</div>
				
				<div layout="row" layout-align="center center" class="gamePageTeamContainer">
					<div layout="column" class="gamePageTeam" flex="10" layout-align="center center">
						<div><img ng-src="{{selectedGame.awayTeam.team.img}}" class="teamImage" /></div>
						<div class="teamName">{{selectedGame.awayTeam.name}}</div>
						<div class="teamRecord">({{selectedGame.awayTeam.team.wins}} - {{selectedGame.awayTeam.team.losses}})</div>
					</div>
					
					<div class="teamScore" flex="20">{{selectedGame.awayTeam.score}}</div>
					
					<div class="teamSeparator">{{ (selectedGame.awayTeam.score) ? "&mdash;" : "At" }}</div>
					
					<div class="teamScore" flex="20">{{selectedGame.homeTeam.score}}</div>
					
					<div layout="column" class="gamePageTeam" flex="10" layout-align="center center">
						<div><img ng-src="{{selectedGame.homeTeam.team.img}}" class="teamImage" /></div>
						<div class="teamName">{{selectedGame.homeTeam.name}}</div>
						<div class="teamRecord">({{selectedGame.homeTeam.team.wins}} - {{selectedGame.homeTeam.team.losses}})</div>
					</div>
				</div>
			</div>
		</div>
		
		<div layout="column" layout-gt-xs="row">
			<div class="gamePageStatsContainer" layout="column" flex-gt-xs="50" layout-align="start center">
				<div class="gamePageStatsTeam">{{selectedGame.awayTeam.name}}</div>
				
				<table class="gamePageTeamStats">
				<tr>
					<th>Rk</th>
					<th>Player</th>
					<th>Th</th>
					<th>C</th>
					<th>Run</th>
				</tr>
				<tr ng-repeat="player in selectedGame.awayTeam.players">
					<td>{{ player.draftRank ? player.draftRank : "-"}}</td>
					<td>{{ player.firstName + " " + player.lastName}}</td>
					<td>{{ player.throwing ? player.throwing : "-"}}</td>
					<td>{{ player.catching ? player.catching : "-"}}</td>
					<td>{{ player.runTime ? player.runTime : "-"}}</td>
				</tr>
				</table>
			</div>
			
			<div class="gamePageStatsContainer" layout="column" flex-gt-xs="50" layout-align="start center">
				<div class="gamePageStatsTeam">{{selectedGame.homeTeam.name}}</div>
				
				<table class="gamePageTeamStats">
				<tr>
					<th>Rk</th>
					<th>Player</th>
					<th>Th</th>
					<th>C</th>
					<th>Run</th>
				</tr>
				<tr ng-repeat="player in selectedGame.homeTeam.players">
					<td>{{ player.draftRank ? player.draftRank : "-"}}</td>
					<td>{{ player.firstName + " " + player.lastName}}</td>
					<td>{{ player.throwing ? player.throwing : "-"}}</td>
					<td>{{ player.catching ? player.catching : "-"}}</td>
					<td>{{ player.runTime ? player.runTime : "-"}}</td>
				</tr>
				</table>
			</div>
		</div>
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="/team/team.js"></script>

</body>
</html>